<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hap.sell.mapper.OrderHeadersMapper">
  <resultMap id="BaseResultMap" type="hap.sell.dto.OrderHeaders">
    <id column="HEADER_ID" jdbcType="BIGINT" property="headerId" />
    <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber" />
    <result column="COMPANY_ID" jdbcType="BIGINT" property="companyId" />
    <result column="ORDER_DATE" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus" />
    <result column="CUSTOMER_ID" jdbcType="BIGINT" property="customerId" />
    <result column="OBJECT_VERSION_NUMBER" jdbcType="DECIMAL" property="objectVersionNumber" />
    <result column="REQUEST_ID" jdbcType="BIGINT" property="requestId" />
    <result column="PROGRAM_ID" jdbcType="BIGINT" property="programId" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="createdBy" />
    <result column="LAST_UPDATED_BY" jdbcType="DECIMAL" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="LAST_UPDATE_LOGIN" jdbcType="DECIMAL" property="lastUpdateLogin" />
    <result column="ATTRIBUTE_CATEGORY" jdbcType="VARCHAR" property="attributeCategory" />
    <result column="ATTRIBUTE1" jdbcType="VARCHAR" property="attribute1" />
    <result column="ATTRIBUTE2" jdbcType="VARCHAR" property="attribute2" />
    <result column="ATTRIBUTE3" jdbcType="VARCHAR" property="attribute3" />
    <result column="ATTRIBUTE4" jdbcType="VARCHAR" property="attribute4" />
    <result column="ATTRIBUTE5" jdbcType="VARCHAR" property="attribute5" />
    <result column="ATTRIBUTE6" jdbcType="VARCHAR" property="attribute6" />
    <result column="ATTRIBUTE7" jdbcType="VARCHAR" property="attribute7" />
    <result column="ATTRIBUTE8" jdbcType="VARCHAR" property="attribute8" />
    <result column="ATTRIBUTE9" jdbcType="VARCHAR" property="attribute9" />
    <result column="ATTRIBUTE10" jdbcType="VARCHAR" property="attribute10" />
    <result column="ATTRIBUTE11" jdbcType="VARCHAR" property="attribute11" />
    <result column="ATTRIBUTE12" jdbcType="VARCHAR" property="attribute12" />
    <result column="ATTRIBUTE13" jdbcType="VARCHAR" property="attribute13" />
    <result column="ATTRIBUTE14" jdbcType="VARCHAR" property="attribute14" />
    <result column="ATTRIBUTE15" jdbcType="VARCHAR" property="attribute15" />
  </resultMap>
  
  <select id="selectByOrderHeaders" parameterType="hap.sell.dto.OrderHeaders" resultMap="BaseResultMap">
		SELECT orh.HEADER_ID,
		       orh.ORDER_NUMBER,
		       orh.COMPANY_ID,
               orh.ORDER_DATE,
               orh.ORDER_STATUS,
               orh.CUSTOMER_ID
        FROM hap_om_order_headers orh
    <where>
      <if test="headerId != null">
        and orh.HEADER_ID = #{headerId,jdbcType=BIGINT}
      </if>
      <if test="orderNumber != null">
        and orh.ORDER_NUMBER LIKE #{orderNumber,jdbcType=VARCHAR}
      </if>
      <if test="companyId != null">
        AND orh.COMPANY_ID = #{companyId,jdbcType=BIGINT}
      </if>
      <if test="orderDate != null">
        AND orh.ORDER_DATE LIKE #{orderDate,jdbcType=TIMESTAMP}
      </if>
      <if test="orderStatus != null">
        AND orh.ORDER_STATUS LIKE #{orderStatus,jdbcType=VARCHAR}
      </if>
      <if test="customerId != null">
        AND orh.CUSTOMER_ID = #{customerId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
    
  <insert id="insertOrderHeaders" parameterType="hap.sell.dto.OrderHeaders">
    insert into hap_om_order_headers
    <trim prefix="(" suffix=")" suffixOverrides=",">
    
      <if test="headerId != null">
        HEADER_ID,
      </if>
      <if test="orderNumber != null">
        ORDER_NUMBER,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
      <if test="orderDate != null">
        ORDER_DATE,
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS,
      </if>
      <if test="customerId != null">
        CUSTOMER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="headerId != null">
        #{headerId,jdbcType=BIGINT},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>